@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body{
    font-family: 'Exo', sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* Box model */

.container {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 992px;
}


.list-container {
    width: 100%;
    height: 25%;
    align-self: center;
}

.list-content {
    margin-top: 100px;
    padding: 25px;
    border: 2px dotted white;
    border-radius: 7px;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.select-items {
    padding: 12px;
    background-color: white;
    border-radius: 7PX;
}

/* Btns filter */


.filter-content {
    text-decoration: none;
    border: none;
    color: black;
    cursor: pointer;
    padding: 15px 18px;
    background-color: #A4DE02;
    border-radius: 7px;
    margin-left: 10px;
    transition: all 0.5;
}



.filter-content:hover {
    background-color: #76BA1B;
}


/* content */

.title {
    color: white;
    padding-bottom: 20px;
    font-size: 40px;
}

.fa-book-reader{
    font-size: 40px;
}

.input-text {
    padding: 12px 45px;
    border-radius: 7px;
    margin-bottom: 25px;
}

.input-text::placeholder {
    text-align: center;
    text-transform: uppercase;
}

.insert-content {
    margin-bottom: 40px;
    padding: 15px 18px;
    border-radius: 7px;
    background-color: #008a00;
    border: none;
    transition: 0.5s;
    cursor: pointer;

}

.btn-text {
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.insert-content:hover{
    background-color: #007a00;
}



.label-title {
    font-size:  25px;
    margin-right: 20px;
    color: white;
}

/* list */
.list-item {
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
}

.text-continer {
    width: 80%;
    background-color: #f4fab4;
    height: 40px;
    border-radius: 7px;
}


.list-item-text {
    width: 80%;
    margin-right: 10px;
    background: #BFF3B4;
    border-radius: 7px;
    color: black;
    line-height: 40px;
}

.btn-container {
    width: 15%;
}

.delete-btn {
    width: 15%;
    background-color: #ff4d4f;
    height: 40px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}



.fa-trash {
    padding-left: 2px;
}

/* responsive */

@media (max-width: 500px) {
    
    /* content */
    
    .title {
        font-size: 30px;
    }
    
    .fa-book-reader{
        font-size: 25px;
    }
    
    .input-text {
        padding: 10px 10px;
    }
    
    .insert-content {
        padding: 12px 12px;
        border-radius: 7px;
    }
    
    .label-title {
        font-size:  20px;
        margin-right: 20px;
        color: white;
    }

    .list-content {
    margin-top: 190px;
    width: 90vw;
   }

   .select-items {
    padding: 10px;
    background-color: white;
    border-radius: 7PX;
    }

    .filter-content {
        font-size: 12px;
        line-height: 60px;
    }
    
    .filter-content:hover {
        background-color: #76BA1B;
    }
    
    

}
